[report]
include = hooks/*
omit = hooks/tests/*
    # omit everything in /usr
    /tests/*

[html]
directory = output/htmlcov

[xml]
output = output/coverage.xml

[json]
output = output/coverage.json
