
public/
data/

# comment

.direnv/
.venv/
Dockerfile*
Makefile*
.env*
.git
.cache

Dockerfile
.DS_Store

local/
.dvc/
data/
var
vendor
job.nomad
tests/
bin/
etc/

#hooks/
docs/
*.md
!README.md
!CHANGELOG.md

target/
report/
node_modules/
scripts/
docker/
megalinter-reports/
#roles/

__pycache__/
.vscode/
.idea/
.pytest_cache/
.coverage
.node_cache/
.npm/
.ruff_cache/
.netlify/

.github/
.gitlab/

.ansible-lint
.bandit.yml
.checkov.yml
.coveragerc
.cspell.json
.deepsource.toml
.dockerignore
.flake8
.gitattributes
.gitignore
.gitleaks.toml
.gitleaksignore
.gitlint
.gitpod.yml
.golangci.yml
.groovylintrc.json
.grype.yaml
.hadolint.yaml
.hindent.yaml
.jscpd.json
.mega-linter.yml
.editorconfig
.gitlab-ci.yml
.codeclimate.yml
.pre-commit-config.yaml
.python-version
.ruff.toml
.trivyignore.yaml
