[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-cmdb = ">=1.31"
ansible-core = ">=2.14.14"
ansicolors = ">=1.1.8"
cfgv = ">=3.3.0"
chardet = ">=3.0.2" # chardet = "*"   # for twine upload dist/
click = ">=8.1.3"
click-completion = ">=0.5.2"
colorama = ">=0.4.6"
cryptography = ">=41.0.2"
#filemagic = ">=1.6"
git-url-parse = ">=1.2.2"
gitpython = ">=3.1.29"
jira = ">=3.8.0"
podmena = ">=0.6.1"
pyyaml = ">=6.0"
six = ">=1.16.0"
termcolor = ">=2.1.1"
# API
fastapi = ">=0.95.0" # A version greater than 0.90.0 breaks the code
# starlette = ">=0.23.0"
uvicorn = {version = ">=0.20.0", extras = ["standard"]}
asyncpg = ">=0.27.0"
# pydantic = ">=1.8.0,<2.0.0"
spacy = ">=3.5.4"
python-keystoneclient = ">=5.1.0"
python-swiftclient = ">=4.2.0"
prometheus-client = ">=0.16.0"
# prometheus-fastapi-instrumentator = ">=5.10.0"
opentelemetry-distro = "~=0.39b0"
opentelemetry-exporter-otlp = "~=1.26.0"
opentelemetry-instrumentation-fastapi = "~=0.39b0"
opentelemetry-instrumentation-logging = "~=0.39b0"
opentelemetry-exporter-jaeger-thrift = "~=1.21.0"
opentelemetry-api = "~=1.26.0"
opentelemetry-sdk = "~=1.30.0"
reretry = ">=0.11.8"

[dev-packages]
ansible-cmdb = ">=1.31"
ansible-lint = {extras = ["yamllint"], version = ">=6.0.2"} # 6.17.2
ansible-playbook-grapher = ">=1.2.0"
# NOK awscli = ">=1.27.88"
# NOK awscli-plugin-endpoint = ">=0.4"
autopep8 = ">=2.0.0"
bandit = ">=1.7.4"
black = {version = ">=23.7.0", extras = ["d"]}
checkov = ">=2.2.95"
#conan = ">=1.31.0"
#coverage >= 4.4.1, < 5
flake8 = ">=6.0.0"
flake8-formatter-junit-xml = ">=0.0.6"
#flake8-polyfill = ">=1.0.2"
#git-pre-commit-hook-utils = ">=0.0.5"
httpx = ">=0.23.3" # For testing fastAPI only
#identify[license] = ">=1.5.9"
#identify = {version = ">=2.5.9", extras = ["license"]}
molecule = ">=3.6.1"
nox = ">=2023.4.22"
pep8 = ">=1.7.1"
pep8-naming = ">=0.13.2"
pip-upgrader = ">=1.4.15"
#pipenv>=2022.6.7
pre-commit = ">=2.20.0"
pre-commit-hooks = ">=4.4.0"
pylint = ">=2.15.6"
pylint-junit = ">=0.3.2"
pytest = ">=7.2.0"
pytest-cov = ">=4.0.0"
pytest-dependency = ">=0.5.1"
pytest-asyncio = ">=0.20.2"
pytest-order = ">=1.0.1"
# pip install --upgrade pytest-testinfra
pytest-testinfra = ">=6.4.0"
readme-renderer = {version = ">=37.3", extras = ["md"]}
selenium = ">=4.6.0"
semgrep = ">=1.15.0"
setup-cfg-fmt = ">=2.2.0"
#setuptools = ">=41.0.0" # See https://github.com/ansible/molecule/issues/2350
setuptools = ">=68.0.0"
#setuptools-scm = ">=5.0.2"
sphinx = ">=7.1.2"
# testinfra = ">=6.0.0"  # pip uninstall testinfra
tox = ">=3.27.1"
twine = ">=4.0.2"
#virtualenv = ">=20.0.23"
wheel = ">=0.41.1"
#versioneer = ">=0.21"
# yamllint = ">=1.28.0"

[requires]
python_version = ">=3.10"
