[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = ">=0.28.0"
ansicolors = ">=1.1.8"
# cfgv = ">=3.3.0"
# chardet = ">=3.0.4" # chardet = "*"   # for twine upload dist/
click = ">=8.1.3"
click-completion = ">=0.5.2"
colorama = ">=0.4.6" # awscli needed
cryptography = ">=41.0.3"
#filemagic = ">=1.6"
fastapi = {version = ">=0.115.3", extras = ["standard"]}
git-url-parse = ">=1.2.2"
gitpython = ">=3.1.29"
jira = ">=3.8.0"
podmena = ">=0.6.1"
pyyaml = ">=6.0"
# six = ">=1.16.0"
# pydantic = ">=1.8.0,<2.0.0"
# prometheus-fastapi-instrumentator = ">=5.10.0"
opentelemetry-distro = ">=0.49b1"
opentelemetry-exporter-otlp = ">=1.30.0"
opentelemetry-instrumentation-fastapi = ">=0.49b1"
opentelemetry-instrumentation-logging = ">=0.49b1"
opentelemetry-exporter-jaeger-thrift = ">=1.13.0"
opentelemetry-api = ">=1.30.0"
opentelemetry-sdk = ">=1.30.0"
python-keystoneclient = ">=5.1.0"
python-swiftclient = ">=4.2.0"
prometheus-client = ">=0.16.0"
reretry = ">=0.11.8"
spacy = ">=3.5.4"
termcolor = ">=2.1.1"
uvicorn = {version = ">=0.20.0", extras = ["standard"]}

[dev-packages]
ansible-cmdb = ">=1.31"
ansible-core = ">=2.14.14"
ansible-lint = {extras = ["yamllint"], version = ">=6.0.2"} # 6.17.2
ansible-playbook-grapher = ">=1.2.0"
# NOK awscli = ">=1.27.88"
# NOK awscli-plugin-endpoint = ">=0.4"
autopep8 = ">=2.0.0"
bandit = ">=1.7.4"
black = {version = ">=23.7.0", extras = ["d"]}
checkov = ">=2.3.115" # 3.2.424
#conan = ">=1.31.0"
#coverage >= 4.4.1, < 5
flake8 = ">=6.1.0"
flake8-formatter-junit-xml = ">=0.0.6"
#flake8-polyfill = ">=1.0.2"
#git-pre-commit-hook-utils = ">=0.0.5"
httpx = ">=0.23.3" # For testing fastAPI only
#identify[license] = ">=1.5.9"
#identify = {version = ">=2.5.9", extras = ["license"]}
molecule = ">=3.6.1"
nox = ">=2023.4.22"
packaging = ">=24.2"
poetry = ">=1.8.2"
pep8 = ">=1.7.1"
pep8-naming = ">=0.13.2"
# pip-upgrader = ">=1.4.15"
# pipenv>=2023.12.0
pre-commit = ">=4.0.1"
# pre-commit-hooks = ">=4.4.0"
pylint = ">=2.15.6"
pylint-junit = ">=0.3.2"
pytest = ">=7.2.0"
pytest-asyncio = ">=0.20.2"
pytest-cov = ">=4.0.0"
pytest-env = ">=1.1.5"
pytest-dependency = ">=0.5.1"
pytest-order = ">=1.0.1"
# pip install --upgrade pytest-testinfra
pytest-testinfra = ">=6.4.0"
readme-renderer = {version = ">=37.3", extras = ["md"]}
ruff = ">=0.4.4"
selenium = ">=4.6.0"
semgrep = ">=1.15.0"
setup-cfg-fmt = ">=2.2.0"
#setuptools = ">=41.0.0" # See https://github.com/ansible/molecule/issues/2350
setuptools = ">=80.7.1"
#setuptools-scm = ">=5.0.2"
sphinx = ">=7.1.2"
# testinfra = ">=6.0.0"  # pip uninstall testinfra
tox = ">=3.27.1"
twine = ">=4.0.2"
#virtualenv = ">=20.0.23"
versioneer = {version = ">=0.29", extras = ["toml"]}
wheel = ">=0.45.1"
# yamllint = ">=1.28.0"

[requires]
python_version = ">=3.12"
