#source /opt/ansible/env38/bin/activate
#pip install -r ./requirements.testing.txt
autopep8==2.3.1
bandit==1.7.9
checkov==3.2.206
conan==2.5.0
#coverage >= 4.4.1, < 5
flake8==7.1.0
flake8-polyfill==1.0.2
# git-pre-commit-hook-utils>=0.0.5
identify[license]==2.6.0
jira==3.0.1
molecule==24.7.0
pep8==1.7.1
pep8-naming==0.14.1
pip-upgrader==1.4.15
pipenv==2024.0.1
pre-commit==3.7.1
pre-commit-hooks==4.6.0
pylint==3.2.6
pylint-junit==0.3.4
pytest==8.3.2
pytest-cov==5.0.0
# pip install --upgrade pytest-testinfra
pytest-testinfra==6.4.0
# readme-renderer[md]>=24.0
selenium==4.23.1
semgrep==1.81.0
setup-cfg-fmt==2.5.0
#setuptools>=41.0.0 # See https://github.com/ansible/molecule/issues/2350
setuptools==65.5.1
setuptools-scm==5.0.2
Sphinx==7.4.7
#testinfra==6.0.0
tox==4.16.0
# twine>=3.4.1
virtualenv==20.26.3
wheel==0.43.0
#versioneer>=0.21
yamllint==1.35.1
