ara==0.16.2
autopep8==1.4.3
bandit==1.5.1
conan==1.11.2
coverage >= 4.4.1, < 5
flake8==3.6.0
flake8-polyfill==1.0.2
molecule==2.19.0
pep8==1.7.1
pep8-naming==0.7.0
pip-upgrader==1.4.6
pytest==4.0.0
selenium==3.141.0
sphinx==1.8.3
testinfra==1.17.0
tox==3.7.0
virtualenv==16.1.0
