# This script is used to run pre-commit with python3.8
#virtualenv --no-site-packages /opt/ansible/env38 -p python3.8
#source /opt/ansible/env38/bin/activate
#pip install -r ./requirements.txt
#ansible==5.6.0 # go with ansible-core>=2.12
#ansible==6.00 # go with ansible-core>=2.13
ansible-cmdb==1.31
ansible-core>=2.13.0
ansible-lint==5.0.8
ansicolors==1.1.8
cfgv>=3.3.0
chardet>=3.0.4
Click>=7.1.1
click-completion>=0.5.2
colorama>=0.4.3
filemagic==1.6 # https://github.com/Linaro/jipdate/issues/30
git-url-parse>=1.2.2
GitPython>=3.1.1
jira==3.0.1
podmena>=0.4.2
PyYAML>=5.1
six>=1.14.0
termcolor>=1.1.0
